body{
    margin:3rem;
    background-color: rgb(60, 106, 79);
    text-align: center;
}

h1{
    /* text-align: center; */
    font-size: 2.5rem;
}

.header-Message{
    /* text-align: center; */
    font-size: 1.5rem;
}

.input{
    min-height: 5vh;
    border-radius: 2rem;
    text-align: inherit;
}

#check-button{
    margin: 2rem;
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    
}

.change-table{
    font-size: 1.5rem;
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

th,td{
    padding: .75rem;
    border: 1px solid black;
}